{% extends "base.html.twig" %}

{% block content %}
    <center><div class="page-statique">
        <h2>Besoin d'aide ?</h2>

    </div>

<div>
    <p>Service client<br>
        Lisez nos conseils pour offrir de l'assistance à votre client final.<br> Si vous avez besoin d'une assistance commerciale supplémentaire, vous pouvez envoyer un e-mail ou discuter avec nos services clients. </p>
</div>

{% endblock%}