{% extends "base.html.twig" %}

{% block content%}
    <div class="page-statique">
        <h2>Rejoignez nous !</h2>
        <p>
            Mais pas pour le moment, symfony est trop efficace, on n'y arrive très bien tout seul.
        </p>
    </div>

{% endblock%}