{% extends "base.html.twig" %}

{% block content %}
    <center><div class="page-statique">
        <h2>Nos Conditions Générales de Vente :</h2>
        <br>
        <h3 class="important">
            Le site BestShop aura toujours raison en cas de litiges.
<p>Date de dernière mise à jour : 12 janvier 2023</center></p> </h3>
<div style="margin-left:15px;">
ENTRE:<br><p>
La société BestShop, société par actions simplifiée au capital de 20,50 euros, dont le siège social est situé 2, rue Eugène Pottier – 78 190 Trappes, immatriculée au Registre du Commerce et des Sociétés de Versailles sous le numéro 814 428 785.<br>
<br>La déclaration juridique, la politique de confidentialité, la spécification de la plate-forme, les avis, les annonces, les règles de fonctionnement, les documents d'aide et autres documents contraignants mis à la disposition de l'Acheteur sur le Site web, constituent des accords complémentaires aux présentes CGV et possèdent la même force juridique. Si l'Acheteur utilise les services de ce Site, cela sera considéré comme une acceptation implicite par l'Acheteur des accords supplémentaires susmentionnés.
Les présentes Conditions Générales de Vente s'appliquent à tout achat effectué par l'Acheteur à compter du 12 janvier 2023 et peuvent être révisées à tout moment par le Vendeur.<br><br>
1. DEFINITIONS<br>
Contrat ou Accord : le Contrat régi par les présentes CGV résultant d'une offre du Vendeur de vendre des Produits à l'Acheteur et de l'acceptation par l'Acheteur de l'offre du Vendeur. Le Contrat sera conclu au lieu d’établissement du Vendeur.<br>
Acheteur : Vous, l'Acheteur, une personne physique qui (si nécessaire) est dûment enregistrée sur BestShop.fr et/ou a téléchargé l'application et a passé une commande auprès du Vendeur. Si l'Acheteur n'a pas l'âge légal pour conclure un Contrat avec le Vendeur, il ne peut utiliser les services qu'avec l'intervention d'un parent ou d'un tuteur. En outre, dans ce cas, le Vendeur se réserve le droit de refuser le service, de résilier les comptes, de mettre fin aux droits de l'Acheteur d'utiliser les services, de supprimer ou de modifier le contenu ou d'annuler les commandes, à sa seule discrétion.<br>
Compte BestShop : le compte BestShop.fr personnel de l'Acheteur afin d'exécuter le Contrat ou l'Accord (si nécessaire) et de recevoir des informations du Vendeur.<br>
Produit(s) : les produits et/ou services proposés à la vente par le Vendeur sur le Site web.<br><br>
2. APPLICABILITÉ<br>
Ces CGV s'appliquent à toutes les offres, Contrats et livraisons du Vendeur sur le Site web, sauf convention contraire expresse.<br><br>
3. PRIX<br>
Les prix de vente du Vendeur sont indiqués dans la devise affichée sur le Site web et comprennent tous les droits, frais et autres charges obligatoires ou légales appliqués lors des ventes par le Vendeur, y compris la TVA (le cas échéant).<br><br>
4. LE CONTRAT<br>
4.1 Les Contrats ne seront conclus que par le biais du Site web ou de l'Application.<br>
4.2 Chaque Contrat doit être payé avant la livraison. Les Produits ne seront expédiés qu'après vérification du paiement par le Vendeur. Le paiement anticipé requis par l'Acheteur pour l'achat des Produits en temps voulu, de manière complète et légale, fait partie de l'offre de Contrat.<br>
4.3 L'Acheteur est seul responsable du paiement de tous les frais facturés par sa banque, sa société de carte ou tout autre fournisseur de l'option de paiement choisie par l'Acheteur. L'Acheteur comprend et accepte que le Vendeur mette en œuvre la méthode du premier paiement avant la livraison. Le paiement requis payé par l'Acheteur pour l'achat de Produits en temps voulu, de manière complète et légale fait partie de l'offre de Contrat que l'Acheteur envoie au Vendeur, et constitue également la prémisse que le Vendeur livrera les Produits à l'Acheteur. Si l'Acheteur n'effectue pas le paiement d'une manière raisonnable ou dans les délais impartis, le Vendeur a le droit d'annuler la commande.<br><br>
5. EXÉCUTION DU CONTRAT<br>
5.1 La commande et le Contrat de l'Acheteur seront traités et exécutés lorsque le Vendeur aura reçu le paiement intégral de l'Acheteur.<br>
5.2 Le Vendeur ne peut être tenu responsable de tout dommage ou autre conséquence résultant du comportement du destinataire. Si une signature et une confirmation sont requises, l'Acheteur ou le destinataire doit signer pour la réception des Produits après avoir lu les conditions de livraison correspondantes.<br>
5.3 L'Acheteur doit indiquer avec précision son nom, (le cas échéant) le nom du destinataire, les coordonnées de l'adresse de livraison et les autres informations nécessaires requises par le Vendeur. Les Produits achetés seront livrés à l'adresse de livraison indiquée. Toute perte causée par le changement de personne de contact de l'Acheteur ou des informations de livraison correspondantes sera à ses propres risques. Si la commande est retardée ou ne peut être livrée en raison des circonstances suivantes, le Vendeur n'assumera pas les responsabilités, les conséquences ou les coûts et se réserve le droit d'annuler la commande unilatéralement :
<br>
L'adresse de livraison, les coordonnées, etc. sont incorrectes, inexistantes ou pas assez détaillées ;
    <ul>
        <li>Le livreur contacte deux fois le destinataire par le biais du numéro de téléphone portable réservé à la réception, qui ne peut se connecter ou ne répond pas ;</li>
        <li>la livraison répétée des Produits en raison d'une absence ;</li>
        <li>Les cas de force majeure, tels que les catastrophes naturelles, le trafic, les grèves, les émeutes, les actions gouvernementales, les guerres soudaines, etc.</li>
    </ul><br>
6. DROIT DE RÉTRACTATION<br>
6.1 L'Acheteur a le droit de se retirer du Contrat dans un délai de 15 jours calandaires sans avoir à en indiquer la raison.<br>
6.2 Le délai de rétractation expire après 15 jours calendaires à compter du jour où l'Acheteur prend physiquement possession du Produit.<br>
6.3 Pour exercer le droit de rétractation, l'Acheteur doit informer le Vendeur de la décision de se retirer du Contrat par une déclaration non équivoque.<br><br>
7. FORCE MAJEURE<br>
En cas de situation de force majeure (y compris, mais sans s'y limiter, les grèves, les conditions météorologiques extrêmes, les embargos et toute autre situation indépendante de la volonté du Vendeur), les obligations du Vendeur au titre du Contrat sont suspendues pendant la durée de la situation de force majeure.<br><br>
8. GARANTIES DES PRODUITS<br>
Les garanties des Produits sont disponibles sur le Site web.<br><br>
9. DÉFAUTS ET RECOURS<br>
9.1 Un Produit est défectueux ou non conforme s'il n'est pas conforme à la description du Vendeur ou s'il ne peut pas être utilisé aux fins prévues. Le Produit est également défectueux s'il n'est pas de qualité normale et ne fonctionne pas comme on peut raisonnablement s'y attendre.<br>
9.2 Si un Produit s'avère défectueux lors de l'installation ou de l'utilisation ou si le Produit n'est pas conforme au Contrat, l'Acheteur doit en informer le Vendeur dès que possible conformément aux dispositions légales mais, dans tous les cas, au plus tard 2 ans à compter de la date de livraison.<br>
9.3 Si le Produit est défectueux ou non conforme, l'Acheteur peut demander au Vendeur de remédier au défaut. Le Vendeur est habilité à déterminer, à sa seule discrétion, si le Produit sera réparé ou remplacé ou remboursé. Si, dans un délai raisonnable, une réparation échoue, l'Acheteur peut être autorisé, à sa discrétion, à retourner le Produit et à demander un remboursement, ou à demander une réduction de prix appropriée si l'Acheteur décide de conserver le Produit défectueux.<br><br>
10. GENERALITES<br>
10.1 Si une disposition des présentes CGV est jugée invalide ou inapplicable, cela n'affectera pas la validité des autres dispositions des présentes des CGV.<br>
10.2 Le Vendeur se réserve le droit de céder ou de transférer à l'un de ses associés et partenaires, affiliés ou membres du Groupe BestShop, tout ou partie de ses obligations au titre des présentes CGV, à tout moment et sans préavis à l'Acheteur. En cas de changement, les droits de l'Acheteur concernant le Contrat ne seront en aucun cas affectés de manière négative.<br><br>
FIN DU DOCUMENT
</p>
    </div>
    </div>
{% endblock %}