{% extends "base.html.twig" %}

{% block content %}
    <center><div class="page-statique"><style >
        <h2>Nos Conditions Générales de Vente :</h2>
        <br>
        <h3 class="important">
            Le site BestShop aura toujours raison en cas de litiges.
        </h3>
    </div>
{% endblock %}