{% extends "layout.html.twig" %}

{% block content %}
    <div class="page-statique">
        <h2>Nos Conditions Générales de Vente :</h2>
        <br>
        <h3 class="important">
            Le site mon Blog aura toujours raison en cas de litiges.
        </h3>
    </div>
{% endblock %}