{% extends "base.html.twig" %}

{% block content %}
    <div class="page-statique">
        <h2>Pour nous contacter</h2>
        <h3>
            Et afin d'éviter le spam sur la messagerie de nos internets,
        </h3>
        <p>
            téléphone-nous tous de suite au :
        </p>
        <h2>
            36 15 MonBlog *
        </h2>
        <p class="nasty-conditions">
            * 3€60 à la connexion puis 5€20 /30 sec. Facturation dès la première seconde.
        </p>
    </div>

{% endblock%}