{% extends "base.html.twig" %}
{% block content %}
    <div class="page-statique">
        <center><h2>Qui sommes nous ?</h2>
        <br>
            <p class="text-block first">
                Kevin, Bilel et Emilie ont décidé de fonder BestShop alors que le web était encore bébé. Une idée simple mais efficace : et si on offrait à n'importe qui les moyens d'acheter un portable ? Ils ont commencé
                à faire des prototypes grâce à leurs incroyable créativité, un minitel électronique, sa tondeuse à gazon diesel et des connaissances en symfony.
            </p>
            <p class="text-block">Vite rejoint par Roxelane, une ancienne
                de la dataviz blockchain temps réelle en deep learning asynchrone, le projet prend une nouvelle ampleur. Pour cet as de la technique, c'est sûr, on peut faire un site fiable et moderne
                en moins d'une semaine en utilisant le framework <a href="https://symfony.com/doc/current/index.html#gsc.tab=0">Symfony!</a> Disciples de Hocine et Barthélemy, qu'ils tiennent pour les cyber-messie du
                <a href="https://fr.wikipedia.org/wiki/Modèle-vue-contrôleur">MVC</a>, ils règlent l'affaire en seulement 5 jours. </p>
            <p class="text-block">
                Le 11/01/2023, Kevin, Bilel, Emilie et Roxelane lancent BestShop dans un état d'excitation de 18,9 sur l'échelle de Fukushima.
            </p>
            <p class="text-block">
                C'est le succès dès la première heure : il ne s'est jamais démenti !
            </p>

        <div class="quote">
            <p>
                " Entre internet et nous, c'est un peu le big love total. "
            </p>
            <p class="quote">
                Toute l'équipe de BestShop
            </p>
        </div>
    </div>
<hr>
    <center><div class="page-statique">
        <h2>
            Nos valeurs :
        </h2>
        <br>
        <h3>
            1/ Toujours plus.
        </h3>
        <h3>
            2/ Toujours mieux.
        </h3>
        <h3>
            3/ Toujours plus haut.
        </h3>
        </div>
{% endblock %}