<form method="post" action="{{ path('app_delete_product', {'id': produit.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn">Supprimer</button>
</form>
