{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block content %}
    <h1>Edit Produit</h1>

    {{ include('produit/productForm.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_index') }}">Retour a la liste</a>

    {{ include('produit/products.html.twig') }}
{% endblock %}
