{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block content %}
    

    {{ include('produit/productForm.html.twig') }}

    <a href="{{ path('app_all_products') }}">Retour a la liste</a>
{% endblock %}
