<footer class="footer justify-content-center fixed-bottom bg-light">
    <nav class="navbar nav justify-content-center
    navbar-expand-lg navbar-dark bg-dark fixed-bottom" id="footer">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item col-md-8"><a class="nav-link text-white" href="{{ path("cgv") }}">  CGV </a></li>
                <li class="nav-item col-md-8"><a class="nav-link text-white" href="{{ path("contact") }}">  Contact </a> </li>
                <li class="nav-item col-md-8"><a class="nav-link text-white" href="{{ path("info") }}">  Info</a>
                </li>
                <li class="nav-item col-md-8"><a class="nav-link text-white" href="{{ path("assistance") }}"> Assistance</a></li>
            </ul>
        
    </nav>
</footer>