{% extends 'base.html.twig' %}

{% block title %}Modification Marque{% endblock %}

{% block content %}
    <h1>Modification de la marque</h1>

    {{ include('marque/marqueForm.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_marque_index') }}">Retourner à la liste</a>

    {{ include('marque/_delete_form.html.twig') }}
{% endblock %}
