{% extends 'base.html.twig' %}

{% block title %}New Marque{% endblock %}

{% block content %}

    {{ include('marque/marqueForm.html.twig') }}

    <a href="{{ path('app_marque_index') }}">back to list</a>
{% endblock %}
