{% extends 'base.html.twig' %}

{% block title %}Nouvelle Marque{% endblock %}

{% block content %}

    {{ include('marque/marqueForm.html.twig') }}

    <a href="{{ path('app_marque_index') }}">Retourner à la liste</a>
{% endblock %}
